/* header font and background color */
.custom-gradient {
    background: hsla(191, 60%, 89%, 1);
    background: linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);}
    .custom-gradient-card {
    background: -moz-linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(56, 59%, 86%, 1) 50%, hsla(25, 85%, 69%, 1) 100%);}
   
    .custom-search-results {
      background-color: hsla(191, 60%, 89%, 1);
        background: linear-gradient(90deg, hsla(191, 60%, 89%, 1) 0%, hsla(0, 0%, 33%, 1) 100%, hsla(25, 85%, 69%, 1) 100%);
    }